.idea/
*.log
PUSH
.directory
*.png
*.mp4
TMP123
__pycache__/
archive
images*
*BAK
*.jpg
*.jpeg
Thumbs*
DEADJOE
*.zip

*~
24
A.json
PROJECTS/aniani/
PROJECTS/ann/
PROJECTS/boat/output_512/Xendat/
PROJECTS/boat/output_512/Xstartat/
PROJECTS/boat/output_512/middelat/
PROJECTS/boat/video_test_last.json
PROJECTS/celine/
PROJECTS/clint/
PROJECTS/waterboy/
README.md.ORG
RUN
START2
_backup_24-02-25_23-27.tar.gz
archive_24-02-26_0336.tar.gz
backup.sh
fftest.py
log
merge/IMAGES
merge/interp_v0_exp.json
merge/log
merge/nohup.out
merge/stage_2/
merge/test.py
merge/textract_00049.gif
merge/x
mergetest.py
x
x.json
xx
